.header{
    position: absolute;
    padding: 16px 24px 8px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logolink{
    display: flex;
}

.logo{
    height: 24px;
    width: auto;
    font-size: 1.5rem; /* ロゴのフォントサイズ */
    font-weight: 700; /* 太字 */
    color: var(--color-text-main); 
    font-family: 'Arial', sans-serif; 
}


@media (max-width: 640px) {
    .header{
        padding: 24px 16px 8px;
    }
}